* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #000000;
    --color-secondary: #f0f0f0;
    /*Full Color*/
    --full-yellow: #F2CB07;
    --full-orange: #F28705;
    --full-red: #D90404;
    --full-wine:#8C0303;
    --full-maroon: #400101;
    --goldish-brown: #60450c;
    --shadowly-maroon: #4001019b;
    --gray-background: #D9D9D9;
    --brown-background: #61482e;

    /*Dark Colors*/
    --dark-blue: #150140;
    --dark-red: #8C0303;
    --dark-wine: #590202;
    --dark-maroon: #260101;
    --dark-black: #0D0000;
    --goldish-dark-brown: #322302;

    --color-blue: #0C06BF;   
   --dark-blue: #090673;
   --color-beige: #B2BF80;
   --color-brown: #8C4D16;
   --x-move: 0px;
   --y-move: 0px;

}

@font-face {
    font-family: Monserrat;
    src: url('../fonts/Anton-Regular.ttf')
}
  



